// Application Colors
$dark-grey: #404040;
$button-hover: #686868;
$button-header-background: #757575;
$background-dark: #676e75;
$background-medium: #b8b8b8;
$background-light: #d8d8d8;
$accent-blue: #0086b3;

// Error Colors

// Success Colors

// Info and Highlight Colors

// Fonts
$font-regular: 'Times-New-Roman';