@import 'vars';

@import 'components/modal';
@import 'components/managerlogin';
@import 'components/main';
@import 'components/station';
@import 'components/stationsmenu';


html {
  font-family: $font-regular;
  font-size: 100px;
  background-color: $background-dark;
}

