@import 'vars';

@import 'components/managerlogin';
@import 'components/main';
@import 'components/station';


html {
  font-family: $font-regular;
  font-size: 100px;
  background-color: #676E75;
}

