@import 'vars';

@import 'components/modal';
@import 'components/managerlogin';
@import 'components/main';
@import 'components/stationsmenu';
@import 'components/hoststation';
@import 'components/kitchenstation';
@import 'components/serverstation';


html {
  font-family: $font-regular;
  font-size: 100px;
  background-color: $background-dark;
}

