@import '../vars';

.host-station {
  .tables-container {
    border-radius: 5px;
    float: left;
    width: 69%;
    background-color: $background-medium;
    margin-right: 1%;
    height: 650px;
    .reservation-buttons {
      position: relative;
      margin-bottom: 5px;
      .add-form-modal {
        position: absolute;
        z-index: 1000;
        left: 195px;
        top: 120px;
        width: 400px;
        height: 250px;
        overflow: auto;
        background-color: $background-medium;
        border: 4px solid $background-dark;
        .add-form {
          div {
            margin: 5px 0 5px 10px;
            input {
              width: 195px;
            }
            .name-input {
              margin-left: 136px;
            }
            .num-in-party-input {
              margin-left: 48px;
            }
            .date-input {
              margin-left: 142px;
            }
            .time-input {
              margin-left: 144px;
            }
            .phone-number-input {
              margin-left: 62px;
            }
            .special-instructions-input {
              margin-left: 8px;
            }
          }
        }
        .save-button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 100px;
          height: 25px;
          box-shadow: 3px 3px 3px black;
          position: absolute;
          bottom: 10px;
          left: 80px;
        }
        .cancel-button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 100px;
          height: 25px;
          box-shadow: 3px 3px 3px black;
          position: absolute;
          bottom: 10px;
          right: 80px;
        }
      }
      .take-reservation-button, .remove-reservation-button, .seat-reservation-button {
        margin: 5px 0 5px 50px;
        display: inline-block;
        button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 200px;
          height: 50px;
          box-shadow: 3px 3px 3px black;
          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
    .tables {
      background-color: $dark-grey;
      height: 510px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      position: relative;
      .table {
        cursor: pointer;
        position: absolute;
        &.mini {
          height: 48px;
          width: 75px;
          background: url(./../images/miniTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/miniTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.short {
          height: 47px;
          width: 75px;
          background: url(./../images/shortTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/shortTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.long {
          height: 70px;
          width: 75px;
          background: url(./../images/longTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/longTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.occupied {
          opacity: .2;
        }
        &.rotate {
          -webkit-transform: rotate(90deg);
        }

      }
    }
    .waitlist-buttons {
      position: relative;
      margin: 5px;
      .add-form-modal {
        position: absolute;
        z-index: 1000;
        left: 190px;
        top: -460px;
        width: 400px;
        height: 185px;
        overflow: auto;
        background-color: $background-medium;
        border: 4px solid $background-dark;
        .add-form {
          div {
            margin: 5px 0 5px 10px;
            input {
              width: 195px;
            }
            .name-input {
              margin-left: 136px;
            }
            .num-in-party-input {
              margin-left: 48px;
            }
            .phone-number-input {
              margin-left: 61px;
            }
            .special-instructions-input {
              margin-left: 8px;
            }
          }
        }
        .save-button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 100px;
          height: 25px;
          box-shadow: 3px 3px 3px black;
          position: absolute;
          bottom: 10px;
          left: 80px;
        }
        .cancel-button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 100px;
          height: 25px;
          box-shadow: 3px 3px 3px black;
          position: absolute;
          bottom: 10px;
          right: 80px;
        }
      }
      .add-waitlist-button, .remove-waitlist-button, .seat-waitlist-button {
        margin: 5px 0px 5px 50px;
        display: inline-block;
        button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 200px;
          height: 50px;
          box-shadow: 3px 3px 3px black;
          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
  }
  .lists-container {
    border-radius: 5px;
    float: left;
    width: 29%;
    background-color: $dark-grey;
    margin-left: 1%;
    margin-bottom: 15px;
    .reservation-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 2px black;
      }
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
      .reservation {
        font-family: $font-regular;
        width: 96.5%;
        margin: 5px;
        background-color: $button-header-background;
        text-indent: 5px;
        box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        cursor: pointer;
        &.selected {
          box-shadow: none;
        }
        &:hover {
          background-color: $button-hover;
        }
      }
    }
    .waitlist-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 2px black;
      }
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
      .waitlist {
        font-family: $font-regular;
        width: 96.5%;
        margin: 5px;
        background-color: $button-header-background;
        text-indent: 5px;
        box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        cursor: pointer;
        &.selected {
          box-shadow: none;
        }
        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }
}
