.modal-dialog {
  display: inline-block;
  height: auto;
  //max-width: 45%;
  outline: none;
  overflow: hidden;
  padding: 100px 80px;
  vertical-align: middle;
  //width: 25%;
  z-index: 2000;
}

.overlay {
  position: absolute;
  overflow: auto;
  text-align: center;
  top: 175px;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 900;
  background-color: rgba(255,255,255,0.97);
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.overlay:before {
  content: '';
  display: inline-block;
  height: 80%;
  vertical-align: middle;
  margin-right: -0.25em;
}