@import '../vars';

.server-station {
  display: flex;
  .tables {
    width: 67.5%;
    height: 650px;
    border-radius: 5px;
    float: left;
    background-color: $dark-grey;
    margin-right: 1%;
    .table {
      height: 45px;
      width: 50px;
      &.long-blank {
        background: url(./../images/longTableBlank.png) no-repeat;
        background-size: contain;
        cursor: pointer;
        position: relative;
        opacity: .2;
      }
      &.long-blank-red {
        background: url(./../images/longTableRed.png) no-repeat;
        background-size: contain;
        cursor: pointer;
        position: relative;
      }
    }
  }
  .menu-check {
    width: 32.5%;
    height: 650px;
    margin-left: 2.5%;
    border-radius: 5px;
    float: left;
    background-color: $dark-grey;
    margin-bottom: 15px;
    .menu-container {
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
    }
    .check-container {
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
    }
  }
}

.host-station {
  .tables-container {
    border-radius: 5px;
    float: left;
    width: 69%;
    background-color: $background-medium;
    margin-right: 1%;
    height: 650px;
    .reservation-buttons {
      margin-bottom: 5px;
      .take-reservation-button, .remove-reservation-button, .seat-reservation-button {
        margin: 5px 0 5px 50px;
        display: inline-block;
        button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 200px;
          height: 50px;
          box-shadow: 3px 3px 3px black;
          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
    .tables {
      background-color: $dark-grey;
      height: 510px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      position: relative;
      .table {
        cursor: pointer;
        position: absolute;
        &.mini {
          height: 48px;
          width: 75px;
          background: url(./../images/miniTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/miniTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.short {
          height: 47px;
          width: 75px;
          background: url(./../images/shortTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/shortTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.long {
          height: 70px;
          width: 75px;
          background: url(./../images/longTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/longTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.occupied {
          opacity: .2;
        }
        &.rotate {
          -webkit-transform: rotate(90deg);
        }

      }
    }
    .waitlist-buttons {
      margin: 5px;
      .add-waitlist-button, .remove-waitlist-button, .seat-waitlist-button {
        margin: 5px 0px 5px 50px;
        display: inline-block;
        button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 200px;
          height: 50px;
          box-shadow: 3px 3px 3px black;
          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
  }
  .lists-container {
    border-radius: 5px;
    float: left;
    width: 29%;
    background-color: $dark-grey;
    margin-left: 1%;
    margin-bottom: 15px;
    .reservation-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 2px black;
      }
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
      .reservation {
        font-family: $font-regular;
        width: 96.5%;
        margin: 5px;
        background-color: $button-header-background;
        text-indent: 5px;
        box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        cursor: pointer;
        &.selected {
          box-shadow: none;
        }
        &:hover {
          background-color: $button-hover;
        }
      }
    }
    .waitlist-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 2px black;
      }
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
      .waitlist-entry {
        font-family: $font-regular;
        width: 96.5%;
        margin: 5px;
        background-color: $button-header-background;
        text-indent: 5px;
        box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }
}

.kitchen-station {
  .orders-list-container {
    border-radius: 5px;
    float: left;
    width: 79%;
    background-color: $dark-grey;
    margin-right: 1%;
    height: 650px;
    .orders-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 6px $dark-grey;
      }
      height: 640px;
      background-color: $background-medium;
      margin: 5px;
      .order-columns {
        display: flex;
        .order-column-1 {
          width: 50%;
          height: 612px;
          border-right: solid 3px $dark-grey;
          .order {
            width: calc(100% - 10px);
            height: 125px;
            background-color: $background-light;
            margin: 5px 5px 0 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 1px 1px black;
            h1 {
              width: 20px;
              height: 20px;
              font-size: 20px;
              margin: 3px;
              background-color: $button-header-background;
              border: none;
            }
            .order-text {
              width: 70%;
              height: calc(100% - 10px);
              margin: 5px 0;
              background-color: $background-dark;
              border: 2px solid $dark-grey;
              span {
                display: block;
                margin: 3px;
              }
            }
            .order-up {
              margin-right: 10px;
              button {
                font-family: $font-regular;
                font-size: 11px;
                border-radius: 5px;
                background-color: $button-header-background;
                color: black;
                border: 10px;
                width: 70px;
                height: 20px;
                box-shadow: 3px 3px 3px black;
                &:hover {
                  background-color: $button-hover;
                }
              }
            }
          }
        }
        .order-column-2 {
          width: 50%;
          height: 612px;
          border-left: solid 3px $dark-grey;
          .order {
            width: calc(100% - 10px);
            height: 100px;
            background-color: $background-light;
            margin: 5px 5px 0 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 1px 1px black;
            h1 {
              width: 20px;
              height: 20px;
              font-size: 20px;
              margin-left: 5px;
              background-color: $button-header-background;
              border: none;
            }
            .order-text {
              width: 70%;
              height: calc(100% - 10px);
              margin: 5px 0;
              background-color: $background-dark;
              border: 2px solid $dark-grey;
              span {
                display: block;
                margin: 3px;
              }
            }
            .order-up {
              margin-right: 10px;
              button {
                font-family: $font-regular;
                font-size: 11px;
                border-radius: 5px;
                background-color: $button-header-background;
                color: black;
                border: 10px;
                width: 70px;
                height: 20px;
                box-shadow: 3px 3px 3px black;
                &:hover {
                  background-color: $button-hover;
                }
              }
            }
          }
        }
      }
    }
  }
  .tables-sat-container {
    border-radius: 5px;
    float: left;
    width: 19%;
    background-color: $dark-grey;
    margin-left: 1%;
    margin-bottom: 15px;
    height: 650px;
    .tables-sat-list {

    }
  }
}