@import '../vars';

.server-station {
  display: flex;
  .tables-container {
    border-radius: 5px;
    float: left;
    width: 70%;
    background-color: $background-medium;
    margin-right: 1%;
    margin-top: 70px;
    height: 510px;
    .tables {
      border-radius: 5px;
      background-color: $dark-grey;
      height: 510px;
      //border: 4px solid $background-medium;
      position: relative;
      .table {
        cursor: pointer;
        position: absolute;
        &.mini {
          height: 48px;
          width: 75px;
          background: url(./../images/miniTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/miniTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.short {
          height: 47px;
          width: 75px;
          background: url(./../images/shortTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/shortTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.long {
          height: 70px;
          width: 75px;
          background: url(./../images/longTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/longTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.occupied {
          opacity: .2;
        }
        &.rotate {
          -webkit-transform: rotate(90deg);
        }

      }
    }
  }
  .menu-check {
    width: 29%;
    height: 650px;
    margin-left: 1%;
    border-radius: 5px;
    float: left;
    background-color: $dark-grey;
    margin-bottom: 15px;
    .menu-container {
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
      .menu-buttons {
        display: flex;
        .menu-button {
          width: 50%;
          background-color: $button-header-background;
          border-bottom: 2px solid $dark-grey;
          text-align: center;
          height: 35px;
          font-family: $font-regular;
          font-size: 25px;
          cursor: pointer;
          &.drinks {
            border-right: 1px solid $dark-grey;
          }
          &.food {
            border-left: 1px solid $dark-grey;
          }
          &.selected {
            background-color: $button-hover;
            cursor: auto;
          }
          &:hover {
            background-color: $button-hover;
          }
        }
      }
      .menu-list {
        height: 258px;
        //overflow: scroll;
        .category-tabs {
          display: flex;
          .tab {
            background-color: $button-header-background;
            border-bottom: 2px solid $dark-grey;
            text-align: center ;
            height: 20px;
            font-family: $font-regular;
            cursor: pointer;
            border-left: 1px solid $dark-grey;
            &.drink {
              width: calc(100% / 4);
              font-size: 14px;
            }
            &.food {
              width: calc(100% / 6);
              font-size: 13px;
            }
            &.selected {
              background-color: $button-hover;
              cursor: auto;
            }
            &:hover {
              background-color: $button-hover;
            }
            &.non-alc {
              border-left: none;
            }
          }
        }
        .menu-items {
          height: 228px;
          overflow: scroll;
          .menu-item {
            width: 98%;
            margin-top: 5px;
            margin-left: 1%;
            margin-bottom: 5px;
            //border-radius: 5px;
            border: 2px solid $dark-grey;
            background-color: $background-dark;
            span {
              font-family: $font-regular;
              font-size: 16px;
              margin-left: 5px;
            }
            &.no-margin {
              margin-bottom: 0;
            }
            &.push {
              width: 97%;
              border-top: none;
              margin-top: 0;
              margin-left: 2%;
            }
            &.selected {
              background-color: #5a6066;
            }
          }
        }
        button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          margin: 6px;
          border: 10px;
          width: 46%;
          height: 20px;
          box-shadow: 3px 3px 3px black;
          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
    .check-container {
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
      .check-buttons {
        display: flex;
        .check-button {
          width: 50%;
          background-color: $button-header-background;
          border-bottom: 2px solid $dark-grey;
          text-align: center;
          height: 35px;
          font-family: $font-regular;
          font-size: 25px;
          box-shadow: 0 1px 1px black;
          cursor: pointer;
          &.check {
            border-right: 1px solid $dark-grey;
          }
          &.payment {
            border-left: 1px solid $dark-grey;
          }
          &.selected {
            box-shadow: none;
            cursor: auto;
          }
        }
      }
      .check-list {
        height: 258px;
        .check-items {
          height: 243px;
          overflow: scroll;
          .check-item {
            margin-top: 2px;
            margin-bottom: 2px;
            font-family: $font-regular;
            font-size: 16px;
            &.odds {
              background-color: $background-light;
            }
            .name {
              margin-left: 5px;
            }
            .price {
              float: right;
              margin-right: 5px;
            }
          }
        }
        .total-cost {
          margin-top: 8px;
          .label {
            font-family: $font-regular;
            font-size: 16px;
          }
          .cost {
            font-family: $font-regular;
            font-size: 18px;
            float: right;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.host-station {
  .tables-container {
    border-radius: 5px;
    float: left;
    width: 69%;
    background-color: $background-medium;
    margin-right: 1%;
    height: 650px;
    .reservation-buttons {
      margin-bottom: 5px;
      .take-reservation-button, .remove-reservation-button, .seat-reservation-button {
        margin: 5px 0 5px 50px;
        display: inline-block;
        button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 200px;
          height: 50px;
          box-shadow: 3px 3px 3px black;
          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
    .tables {
      background-color: $dark-grey;
      height: 510px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      position: relative;
      .table {
        cursor: pointer;
        position: absolute;
        &.mini {
          height: 48px;
          width: 75px;
          background: url(./../images/miniTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/miniTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.short {
          height: 47px;
          width: 75px;
          background: url(./../images/shortTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/shortTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.long {
          height: 70px;
          width: 75px;
          background: url(./../images/longTableBlank.png) no-repeat;
          background-size: contain;
          &.selected {
            background: url(./../images/longTableBlankSelected.png) no-repeat;
            background-size: contain;
          }
        }
        &.occupied {
          opacity: .2;
        }
        &.rotate {
          -webkit-transform: rotate(90deg);
        }

      }
    }
    .waitlist-buttons {
      margin: 5px;
      .add-waitlist-button, .remove-waitlist-button, .seat-waitlist-button {
        margin: 5px 0px 5px 50px;
        display: inline-block;
        button {
          font-family: $font-regular;
          font-size: 16px;
          border-radius: 5px;
          background-color: $button-header-background;
          color: black;
          border: 10px;
          width: 200px;
          height: 50px;
          box-shadow: 3px 3px 3px black;
          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
  }
  .lists-container {
    border-radius: 5px;
    float: left;
    width: 29%;
    background-color: $dark-grey;
    margin-left: 1%;
    margin-bottom: 15px;
    .reservation-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 2px black;
      }
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
      .reservation {
        font-family: $font-regular;
        width: 96.5%;
        margin: 5px;
        background-color: $button-header-background;
        text-indent: 5px;
        box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        cursor: pointer;
        &.selected {
          box-shadow: none;
        }
        &:hover {
          background-color: $button-hover;
        }
      }
    }
    .waitlist-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 2px black;
      }
      height: 317px;
      background-color: $background-medium;
      margin: 5px;
      .waitlist {
        font-family: $font-regular;
        width: 96.5%;
        margin: 5px;
        background-color: $button-header-background;
        text-indent: 5px;
        box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        cursor: pointer;
        &.selected {
          box-shadow: none;
        }
        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }
}

.kitchen-station {
  .orders-list-container {
    border-radius: 5px;
    float: left;
    width: 79%;
    background-color: $dark-grey;
    margin-right: 1%;
    height: 650px;
    .orders-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 6px $dark-grey;
      }
      height: 640px;
      background-color: $background-medium;
      margin: 5px;
      .order-columns {
        display: flex;
        .order-column-1 {
          overflow: scroll;
          width: 50%;
          height: 607px;
          border-right: solid 3px $dark-grey;
          .order {
            width: calc(100% - 10px);
            height: auto;
            background-color: $background-light;
            margin: 5px 5px 0 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 1px 1px black;
            h1 {
              width: 20px;
              height: 20px;
              font-size: 20px;
              margin: 3px;
              background-color: $button-header-background;
              border: none;
            }
            .order-text {
              width: 70%;
              height: calc(100% - 10px);
              margin: 5px 0;
              background-color: $background-dark;
              border: 2px solid $dark-grey;
              span {
                font-weight: bold;
                display: block;
                margin: 3px;
              }
            }
            .order-up {
              margin-right: 10px;
              button {
                font-family: $font-regular;
                font-size: 11px;
                border-radius: 5px;
                background-color: $button-header-background;
                color: black;
                border: 10px;
                width: 70px;
                height: 20px;
                box-shadow: 3px 3px 3px black;
                &:hover {
                  background-color: $button-hover;
                }
              }
            }
          }
        }
        .order-column-2 {
          overflow: scroll;
          width: 50%;
          height: 607px;
          border-left: solid 3px $dark-grey;
          .order {
            width: calc(100% - 10px);
            height: auto;
            background-color: $background-light;
            margin: 5px 5px 0 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 1px 1px black;
            h1 {
              width: 20px;
              height: 20px;
              font-size: 20px;
              margin-left: 5px;
              background-color: $button-header-background;
              border: none;
            }
            .order-text {
              width: 70%;
              height: calc(100% - 10px);
              margin: 5px 0;
              background-color: $background-dark;
              border: 2px solid $dark-grey;
              span {
                font-weight: bold;
                display: block;
                margin: 3px;
              }
            }
            .order-up {
              margin-right: 10px;
              button {
                font-family: $font-regular;
                font-size: 11px;
                border-radius: 5px;
                background-color: $button-header-background;
                color: black;
                border: 10px;
                width: 70px;
                height: 20px;
                box-shadow: 3px 3px 3px black;
                &:hover {
                  background-color: $button-hover;
                }
              }
            }
          }
        }
      }
    }
  }
  .tables-sat-container {
    border-radius: 5px;
    float: left;
    width: 19%;
    background-color: $dark-grey;
    margin-left: 1%;
    margin-bottom: 15px;
    height: 650px;
    .tables-sat-list {
      h1 {
        background-color: $button-header-background;
        margin: 0;
        font-family: $font-regular;
        font-size: 25px;
        text-align: center;
        border-bottom: solid 6px $dark-grey;
      }
      height: 640px;
      background-color: $background-medium;
      margin: 5px;
      .table-sat {
        font-family: $font-regular;
        width: 96.5%;
        margin: 5px;
        background-color: $button-header-background;
        text-indent: 5px;
        //box-shadow: 2px 2px 2px black;
        border-radius: 5px;
        border: 2px solid $dark-grey;
        //cursor: pointer;
      }
    }
  }
}